.assignmentCard {
    width: 50vmin;
    height: 20vmin;
    background-color: #586BA4;
    margin: 4vmin 0vmin;
}

.assignmentCard_back {
    background-color: #396DAD;
}

.greenButton{
    background-color: #81BA7A;
}

li {
    list-style-type: none;
    font-family: 'Special Elite', cursive;
    font-size: 2.5vmin;
    padding: 1vmin;
}