.NavBar {
    display: flex;
    margin: 0;
    background-color:#60E1E0;
    padding: 2vmin;
    align-items: center;
  }
  
.logout {
    margin: 0 10px;
    white-space: nowrap;
    font-size: 2vmin;
  }
  
.header {
    color: black;
    font-family: 'Fredericka the Great', cursive;
    font-size: 6vmin;
    margin: 0 auto;
  }

.link {
  margin-left: 1vmin;
}
